
body{
/*    background-image: url('../images/heartsbg.jpg');*/
    font-family: 'Poppins', sans-serif;
}

.header{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    color: black;
    text-align-last: center;
    padding-top: 0px;
    height: auto;
    margin: 0px auto;
    width: 100%;

}

.subtitle{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 2.3rem;
}

.ToDo_wrapper{
    padding-left: 20px;
    height: 100px;
    display: flex;
    justify-content: center;
}

.ToDo_title{
    float: left;
    font-size: 94px;
    margin-top: -18px;
}

.heart_title{
    float: left;
    font-size: 82px;
    color: darkred;
}

.heart_title_2{
    float: left;
    font-size: 82px;
    color: darkred;
}

.list_title{
    width: 100%;
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    color: black;
/*    border-top: 1px solid darkred;*/
}

.box{
    text-align: center;
    width: 100%;
}

.button_wrapper{
    text-align: center;
}

.button_delete {
    background-color: #4CAF50; /* Green */
/*
    border: none;
    color: #4CAF50;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.6px;
    margin: 4px 2px; */
    border-radius: 15px;

}

/* Animations */

#checkAnimaionId{
  animation-name: heartbeat;
  animation-duration: 0.4s;
  animation-iteration-count: 4;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;    
}

@keyframes heartbeat {
  0% {
    padding: 0;
    height: 45px;
    font-size: 28px;
  }
  50% {
    height: 45px;
    font-size: 30px;
    color: darkred;
  }
  100% {
    height: 45px;
    font-size: 32px;
    color: red;

  }
}

.fadeIn {
    animation: fadein 2s;
}

@keyframes fadein {
  0% {
    padding: 0;
    height: 45px;
    opacity: 0;
    color: red;
  }
  50% {
    height: 45px;
    color: darkred;
  }
  100% {
    height: 45px;
    opacity: 1;

  }
}

#checkAnimaionId2 {
    animation: fadeout 1s;
}

@keyframes fadeout {
  0% {
    padding: 0;
    height: 45px;
    opacity: 1;
    color: red;
  }
  50% {
    height: 45px;
    color: darkred;
  }
  100% {
    height: 45px;
    opacity: 0;

  }
}


/* Mobile */
@media screen and (max-width: 699px) {


    
.subtitle{
    margin-top: 10px;
    padding-top: 10px;
}
    
.box{
    text-align: center;
    width: 100%;
}

    
.list{
    width: 100%; 
    min-height: 45px;
}
    
.completedTaskList{
    width: 100%; 
    min-height: 45px;
}
    
.singleTaskWrapper{
    width: 100%;
    height: auto;
    padding-left: 20px;
}

.checkDiv{
    width: 15%;
    height: 45px;
    float: left;
    text-align: center;
    font-size: 28px;
}

.taskDiv{
    width: 85%;
    min-height: 45px;
    float: left;
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: 400;
    padding-top: 6px;
    padding-left: 10px;
}
    
    
}

/* Tablet */
@media screen and (min-width: 700px) and (max-width: 1023px) {

.subtitle{
    margin-top: 0px;
    padding-top: 0px;
}
    
.singleTaskWrapper{
    margin: 0px auto;
    width: 70%;
    height: auto;
    border: 1px solid red;
}
    
} /* /tablet */

/* Desktop */
@media screen and (min-width: 1024px) {

}


.box{
    width: 700px;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
}

.singleTaskWrapper{
    width: 700px;
    height: auto;
}

.checkDiv{
    width: 5%;
    float: left;
}

.checkDiv2{
    width: 5%;
    color: blueviolet;
    font-size: 20px;
    float: left;
}

.taskDiv{
    width: 95%;
    float: left;
}

.buttonDiv{
    width: 10%;
/*    background-color: red;*/
    float: left;
}

.singleCompleteTaskWrapper{
    width: 700px;
    height: auto;
}

.checkCompleteDiv{
    width: 5%;
    background-color: aquamarine;
    float: left;
}

.taskCompleteDiv{
    width: 95%;
    float: left;
}

.title{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 10rem;
    color: black;
    background-color: gainsboro;
/*    padding: 20px;*/

}
