.box{
    width: 700px;
    height: auto;
    border: 2px solid darkgray;
    padding: 20px;
    box-sizing: border-box;
}

.singleTaskWrapper{
    width: 700px;
    height: auto;
}

.checkDiv{
    width: 5%;
    background-color: aquamarine;
    float: left;
}

.checkDiv2{
    width: 5%;
    color: blueviolet;
    font-size: 20px;
    float: left;
}

.taskDiv{
    width: 95%;
    background-color: red;
    float: left;
}

.buttonDiv{
    width: 10%;
    background-color: red;
    float: left;
}

.singleCompleteTaskWrapper{
    width: 700px;
    height: auto;
}

.checkCompleteDiv{
    width: 5%;
    background-color: aquamarine;
    float: left;
}

.taskCompleteDiv{
    width: 95%;
    background-color: red;
    float: left;
}

.title{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 10rem;
    color: black;
    background-color: gainsboro;
    padding: 20px;

}

.subtitle{
    font-size: 2.5rem;
    font-family: 'Gloria Hallelujah', cursive;
}

.heart-title{
    font-size: 8rem;
    color: darkred;
}